body {
    background: #7e9fa8;
    font-weight: 700;
    height: 100%;
}
html{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
p,
ul,
h1 {
    margin: 0; padding: 0;
}
h1,
h2{
    font-size: 4.6vw;
    font-weight: 500;
    text-transform: uppercase;
}
.header_2> ul,
.footer_nav> ul{
    display: flex;
    list-style: none;
}
.nav,
.footer_nav_a{
    margin: auto;
    margin-left: 30px;
    color: #25231c;
    font-size: 17px;
    text-decoration: none;
    transition: transform .3s ease;
}
.nav:hover,
.footer_nav_a:hover{
    color: #12589f;
    text-decoration: none;
    transform: scale(1.05);
}
.btn{
    background: #c6b1a3;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #151411;
    padding: 2% 5%;
}
.btn:hover,
button:focus{
    background: #b8a28c;
    color: #151411;
}


/*header*/

.header_1{
    background: #070c17;
    font-size: 16px;
    display: flex;
    padding: .5% 5% .7%;
}
.header_1> p{
    color: #71747e;
    margin-right: 3%;
}
.header_2{
    background: #c6c1ba;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 5% 1.8%;
    text-transform: uppercase;
}
.header_2> p{
    font-size: 40px;
    color: #12589f;
}

/*intro*/

.intro{
    padding: 3%;
}
.intro> div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #cbcbd6;
}
.intro> div> p{
    width: 50vw;
    font-weight: 500;
    margin-bottom: 5%;
    font-size: 18px;
    color: #99aa9e;
}
.intro_img> img{
    width: 40vw;
}
.intro_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 6% 0;
}
.intro_paragraph{
    color: #070c17;
    font-size: 20px;
    margin-bottom: 5%;
}
.intro_paragraph> a{
    color: #070c17;
}
.btn_intro{
    color: #070c17;
}

/*home_about*/
.home_about{
    background: #cbcbd6;
    margin: 0 3% 3%;
}
.home_about_title{
    margin-bottom: 2%;
}
.home_about_title> h2{
    color: #070c17;
}
.home_about_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home_about_img> img{
    height: 40vw;
}
.home_about_container{
    margin: 0 6% 0;
}
.home_about_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home_about_text> p{
    margin-bottom: 3%;
    font-size: 18px;
}
.home_about> div:last-child> p{
    width: 50vw;
    font-weight: 500;
    margin-bottom: 5%;
    color: #99aa9e;
}

/*users_contacts*/

.users_contacts{
    background: #c7c7d2;
    margin: 0 3% 3%;
    display: flex;
    justify-content: space-between;
}
.phone,
.email{
    padding: 2%;
    display: flex;
    flex-direction: column;

}
.phone>button,
.email>button {
    margin-top: 5.5%;
}
.phone{
    align-items: flex-start;
}
.email{
    align-items: flex-end;
    }

/*footer*/

.footer_image{
    padding: .5% 5% .7%;
    background: #070c17;
    font-size: 16px;
}
.footer_image> p{
    margin-bottom: .5%;
}
.footer_image> p,
.footer_image> p> a{
    color: #71747e;
}

/*catalog_________________________________________________page*/

.catalog_page{
    padding-bottom: 5%;
}
.catalog_category> ul{
    list-style: none;
    margin-top: 5%;
}
.catalog_category> ul> li{
    margin-bottom: 2%;
}
.catalog_category{
    margin: 12%;
    font-size: 18px;
    color: #ffffff;
}
.catalog_category_title{
    font-size: 28px;
}
.catalog_page{
    display: grid;
    grid-template-columns: 15vw 3fr;
}
.catalog_title{
    padding-top: 2%;
}
.catalog_category_items{
    text-decoration: none;
    color: #ffffff;
}
.catalog_content{
    background: #7e9fa8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2%;
    margin-top: 4%;
}
.catalog_card{
    width: 80%;
    padding: 4% 4% 10%;
    display: grid;
    justify-items: center;
    background: #c6c1ba;
    text-decoration: none;
    color: #151411;
    margin-bottom: 12%;
}
.catalog_card:hover{
    background: #d6cec8;
    transition: transform .5s ease;
    transform: scale(1.04);
}
.catalog_card_img{
    width: 13vw;
    margin: 12% 0;
}
.catalog_card_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog_card_body> a{
    font-size: 1.12vw;
    text-transform: uppercase;
    text-decoration: none;
    color: #25231c;
    margin-bottom: 2%;
}
.catalog_card_body> a:hover{
    color: #12589f;
    transition: transform .5s ease;
    transform: scale(1.04);
}
.catalog_card_body> p{
    font-size: 1.3vw;
    margin-bottom: 5%;
}


/* about______________________________________________________page*/

.about_page{
    padding: 3% 4% 4%;
    background: #7e9fa8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    flex: 1 1 auto;
}
.about_page_intro{
    margin-top: 3.2%;
    background: #c4bfb9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_page_intro_img> img{
    height: 45vw;
}
.about_page_intro_text> h2{
    margin-bottom: 2%;
    font-size: 45px;
}
.about_page_intro_text{
    padding: 0 5%;
    color: #0b1223;
    font-weight: 700;
}
.about_page_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
}
.about_page_advantages{
    width: 91vw;
    margin-top: 3.5%;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    background: #c9c9d4;
}
.about_page_items{
    width: 18vw;
    margin: 4.5%;
    /*background: #c2bdb8;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13% 5.5% 15%;
    color: #0b1223;
    font-weight: 700;
}
.about_page_items> img{
    width: 10vw;
}


/* contacts_________________________________________________page*/

.contacts_page{
    padding: 3% 6% 4%;
    background: #7e9fa8;
    color: #ffffff;
    font-weight: 500;
    flex: 1 1 auto;
}
.contacts_page_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    /*flex-direction: row-reverse;*/
}
.contacts_page_info> h3{
    margin-bottom: 15%;

}
h3{
    font-size: 40px;
    margin-bottom: 5%;
}
.contacts_page_info_items> p{
    font-size: 18px;
    margin-bottom: 6%;
}
.contacts_page_info_items_a{
    color: #ffffff;
    font-size: 30px;
    margin-right: 8%;
}
.contacts_page_info_items_a:hover{
    color: #c2d1e4;
}
.contacts_page_connection_info{
    width: 47vw;
}
.contacts_page_connection_items_1,
.contacts_page_connection_items_2{
    display: flex;
}
.contacts_page_connection_items_1_input,
.contacts_page_connection_items_2_input{
    width: 22vw;
    margin-bottom: 1.5%;
    padding: 1.5%;
    font-size: 18px;
    background: #d8e5f3;
    border: none;
}
.contacts_page_connection_items_1_input:last-child,
.contacts_page_connection_items_2_input:last-child{
    margin-left: 1.5%;
}
.contacts_page_connection_items_1_input:focus,
.contacts_page_connection_items_2_input:focus{
    outline: 0;
    outline-offset: 0;
}
.contacts_page_connection_items_3> div{
    display: flex;
    padding-top: 2%;
    font-size: 14px;
}
.contacts_page_connection_items_3> div> input{
    margin-right: 1.2%;
    width: 16px;
}
.contacts_page_btn{
    background: #d8e5f3;
}
.contacts_page_btn:hover{
    background: #c2d1e4;
}


/*delivery_________________________________________________page*/

.delivery_page{
    padding: 3% 6% 4%;
    background: #7e9fa8;
    color: #ffffff;
    font-weight: 500;
    flex: 1 1 auto;
}
.delivery_page_intro{
    margin-top: 3.2%;
    background: #c4bfb9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 7%;
}
.delivery_page_intro_img> img{
    height: 26vw;
}
.delivery_page_intro_title> h2{
    font-size: 30px;
    color: #0b1223;
}
.delivery_page_content{
    margin-bottom: 7%;
}
.delivery_page_content> h3{
    margin-bottom: 2%;
}
