{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="catalog_page">
        <div class="catalog_category">
            <h4 class="catalog_category_title">Фильтры</h4>
            <ul>
                {% for category in categories %}
                    <li><a class="catalog_category_items" href="{% url "catalog:index" category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="catalog">
            <div class="catalog_title">
                <h1>Каталог товаров</h1>
            </div>
            <div class="catalog_content">
                {% for product in goods %}
                    <div class="catalog_card">
                        {% if product.image %}
                            <img class="catalog_card_img" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="catalog_card_img" src="{% static "img/no_image.jpg" %}" alt="Изображение товара">
                        {% endif %}
                        <div class="catalog_card_body">


                            <a href="{% url "catalog:product" product.slug %}">{{ product.name }}</a>
                            {% if product.discount %}
                                <p class="catalog_discount_sell_price">{{ product.discount }}%</p>
                                <div class="catalog_discount_prise">
                                    <p class="catalog_discount_old_prise"><s>{{ product.prise }}</s></p>
                                    <p class="catalog_discount_new_prise">{{ product.sell_price }}</p>
                                </div>

                            {% else %}
                                <p>{{ product.prise }}</p>
                            {% endif %}
                            <a href="#">в корзину</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="pagination_link">
                <a class="pagination_link_a {% if not goods.has_previous %}disabled{% endif %}"
                   href="{% if goods.has_previous %}?page={{ goods.previous_page_number }}{% else %}
                   #
                   {% endif %}">&#x3C</a>
            </li>

            {% for page in goods.paginator.page_range %}
            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                <li class="pagination_link"><a class="pagination_link_a
                {% if goods.number == page %}active{% endif %}"
                href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}

            <li class="pagination_link">
                <a class="pagination_link_a {% if not goods.has_next %}disabled{% endif %}"
                   href="{% if goods.has_next %}?page={{ goods.next_page_number }}{% else %}
                   #
                   {% endif %}">&#x3E</a>
            </li>
        </ul>
    </nav>
{% endblock %}