{% extends "main/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product_page">
        <div class="product_page_content">
            <div class="product_page_content_1">
                {% if product.image %}
                    <img class="catalog_card_img" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="catalog_card_img" src="{% static "img/no_image.jpg" %}" alt="Изображение товара">
                {% endif %}
                <p>{{ product.prise }}</p>
            </div>
            <div class="product_page_content_2">
                <h1>{{ product.title }}</h1>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}