{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content_intro  %}
     <div class="intro">
        <div>
            <div class="intro_img">
                <img src="{% static 'img/christmas-tree.png' %}" alt="ель">
            </div>
            <div class="intro_text">
                <p class="intro_paragraph">{{ intro_content }}</p>
                <a class="btn btn_intro" href="#catalog">{{ intro_btn }}</a>
            </div>

        </div>
    </div>
{% endblock %}

{#{% block content_catalog %}#}
{#    <div class="catalog">#}
{#        <a name="catalog"></a>#}
{#        <h1>Каталог товаров</h1>#}
{#    </div>#}
{#    <div class="catalog_product">#}
{#        {% for el in product %}#}
{#            <a class="product" href="{% url 'product_detail' el.id %}">#}
{#                <img class="product-img" src="{{ el.img.url }}"  alt="kapTiHka">#}
{#                <p>{{ el.title }}</p>#}
{#                <p>{{ el.price }}</p>#}
{#                <p class="btn">В корзину</p>#}
{#            </a>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}

{% block about %}
    <div class="home_about">
        <div class="home_about_content">
            <div class="home_about_img">
                <img src="{% static 'img/freepik-export.png' %}" alt="ель">
            </div>
            <div class="home_about_container">
                <div class="home_about_title">
                    <h2>{{ home_about_title }}</h2>
                </div>
                <div class="home_about_text">
                    <p>{{ home_about_text }}</p>
                    <a class="btn" href="{% url 'main:about' %}">{{ home_about_btn }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block users_contacts %}
    <div class="users_contacts">
        <div class="phone">
            <p>{{ help }}</p>
            <button class="btn">{{ phone }}</button>
        </div>
        <div class="email">
            <p>{{ news }}</p>
            <button class="btn">{{ email }}</button>
        </div>
    </div>
{% endblock %}